.navbar
  a(href='/' class={active_nav: page === 'Home'}).nav-button home
  a(href='/matches' class={active_nav: page === 'Matches'}).nav-button matches
  a(href='/pending' class={active_nav: page === 'Pending'}).nav-button pending
  a(href='/profile' class={active_nav: page === 'Profile'}).nav-button profile
  if email
    a(href='/logout' class={active_nav: page === 'Login'}).nav-button #{email}
  else
    a(href='/login' class={active_nav: page === 'Login'}).nav-button login
