.navbar
  a(href='/').nav-button home
  a(href='/matches').nav-button matches
  a(href='/pending').nav-button pending
  a(href='/profile').nav-button profile
  if email
    a(href='/logout') #{email}
  else
    a(href='/login').nav-button login
