extends partials/layout.pug

block content
  h1.Home__header Touching Hands,
  .Pending__container
    //- likers
    h3.Pending__left Touching me, (these people like you...)
      .Pending__box
        each liker in likers
          .Pending__box__img
            img(src=liker.photo alt="match one")
            .Pending__box__buttons
              button(type="button" class="btn btn-danger") ignore
              button(type="button" class="btn btn-success") connect

    //- likees
    h3.Pending__right Touching you, (you like these people...)
      .Pending__box
        each likee in likees
          .Pending__box__img
            img(src=likee.photo alt=likee.name)
