extends partials/layout.pug

block content
  .container.profile__container
    .row
      .profile__left-column.col.col-lg-4
        img(src='images/terrill.png')
        .profile__left-column-data-container
          .profile__personal-info-header
            h5 Name:
            h5 Age:
            h5 Username:
          .profile__personal-info-data
            h5 terrill
            h5 22
            h5 tdog
      .profile__right-column.col.col-lg-8
        .profile__about-container
          h3 About
          p Four dollar toast ethical cliche tousled retro, kinfolk poke banh mi. Hot chicken cray XOXO, distillery af listicle whatever drinking vinegar literally. Mumblecore copper mug deep v freegan subway tile celiac, man braid coloring book tofu asymmetrical hexagon flexitarian. YOLO blog put a bird on it tousled, live-edge kickstarter keffiyeh etsy hot chicken readymade. PBR&B drinking vinegar trust fund, swag four loko tilde try-hard banh mi whatever yr 3 wolf moon skateboard. Kinfolk irony portland, succulents offal swag YOLO health goth bicycle rights pitchfork. Poutine craft beer tousled next level farm-to-table.
        .profile__preferences-container
          .h3 Preferences
          .profile__questions-container
            .profile__individual-question-container
              p Preferred gender for a partner?
              .form-check
                label.form-check-label 
                  input.form-check-input(type='radio' name='gender' id='exampleRadios1' value='option1')
                  span Male
              .form-check    
                label.form-check-label 
                  input.form-check-input(type='radio' name='gender' id='exampleRadios1' value='option2')
                  span Female
            .profile__individual-question-container
              p Favorite pet?
              .form-check
                label.form-check-label 
                  input.form-check-input(type='radio' name='pet' id='exampleRadios1' value='option1')
                  span Dog
              .form-check    
                label.form-check-label 
                  input.form-check-input(type='radio' name='pet' id='exampleRadios1' value='option2')
                  span Cat
            .profile__individual-question-container
              p Smoking?
              .form-check
                label.form-check-label 
                  input.form-check-input(type='radio' name='smoking' id='exampleRadios1' value='option1')
                  span Yes
              .form-check    
                label.form-check-label 
                  input.form-check-input(type='radio' name='smoking' id='exampleRadios1' value='option2')
                  span No
            .profile__individual-question-container
              p Favorite Language?
              p Javascript
          .profile__questions-container
            .profile__individual-question-container
              p Tabs or Spaces?
              .form-check
                label.form-check-label 
                  input.form-check-input(type='radio' name='tabspace' id='exampleRadios1' value='option1')
                  span Tabs
              .form-check    
                label.form-check-label 
                  input.form-check-input(type='radio' name='tabspace' id='exampleRadios1' value='option2')
                  span Spaces
            .profile__individual-question-container
              p Favorite Editor?
              p Sublime
            .profile__individual-question-container
              p Operating System?
              p MacOSX
        
          
