body {
  background-color: black;
}

.cursive {
  font-family: 'Pinyon Script', cursive;
}

.active_nav {
  background-color: #5BC45A !important;
}

/****** NAVBAR ******/
.navbar {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  margin: 0 1em;
}

.nav-button {
  border: 1px solid black;
  border-radius: 20px;
  padding: 0.1em 1.5em;
  background-color: #A7A7A7;
  color: black;
  font-size: 1.4em;
}

.nav-button:hover {
  text-decoration: none;
  color: red;
}

/***** INDEX *****/
.Home__header {
  display: flex;
  justify-content: center;
  margin-top: 0.5em;
  font-family: 'Pinyon Script', cursive;
}

.carousel {
  background-color: #4E4E4E
}

.Home___carousel__img-container {
  display: flex;
  padding: 4em;
  justify-content: center;
  margin: 0 auto;
}

.Home__carousel__img-connect {
  width: 30%;
  height: 90%;
  margin: 1em;
}

.Home__carousel_info-container {
  display: flex;
  justify-content: space-between;
  margin-top: 0.5em;
}

.Home__carousel_info-container button {
  height: 2em;
}

.Home__carousel_name-age-container {
  display: flex;
  flex-direction: column;
}

.Home___carousel__img {
  width: 100%;
}

.Home__view-btn {
  height: 2.5em;
}

.carousel-control-prev {
  left: -2em;
}

.carousel-control-next {
  right: -2em;
}

/******* PROFILE *********/

.profile__container  {
  margin-top: 1em;
  color: white;
}

.profile__left-column-data-container {
  display: flex;
  margin-top: 1em;
}

.profile__personal-info-header {
  margin-right: 20%;
}

.profile__right-column {
  border: 1px solid black;
}

.Profile__img {
  max-width: 20em;
}

.profile__questions-container {
  display: flex;
}

.profile__individual-question-container {
  margin-right: 1em;
  margin-bottom: 2em;
}

/***** LOGIN *****/
.Login__container {
  display: flex;
  flex-direction: column;
  margin-top: 4em;
  color: white;
}
.Login__container__cursive {
  font-family: 'Pinyon Script', cursive;
}
.Login__container__center {
  margin: auto;
}

.Login__input {
  width: 15em;
  margin-top: 0.5em;
  border-radius: 5px;
  padding-left: 1em;
  font-size: 1.2em;
}

.Login__button {
  width: 5em;
  margin-top: 0.5em;
  font-size: 1.2em;
}

.Login__slogan {
  margin-top: 5em;
}

.Login__register {
  display: flex;
  justify-content: center;
  margin-top: 1em;
  color: white;
}

.Login__register a {
  margin-left: 0.5em;
  color: red !important;
}

/***** REGISTER *****/
.container {
  color: white;
}

.login-form {
  background: gray;
  width: 70%;
  border-radius: 10px;
  padding: 2em;
  margin: 0 auto;
}

.Register__container {
  display: flex;
  justify-content: center;
}

/***** PENDING *****/
.Pending__container {
  display: flex;
}
.Pending__left {
  width: 50%;
  margin: 1em;
  font-family: 'Pinyon Script', cursive;
}
.Pending__right {
  width: 50%;
  margin: 1em;
  font-family: 'Pinyon Script', cursive;
}

.Pending__box {
  border: 2px solid red;
  border-radius: 5px;
  margin-top: 0.5em;
  width: 100%;
  padding: 0.2em;
  background-color: #4E4E4E;
}

.Pending__box__img {
  width: 33%;
  padding: 0.2em;
  display: inline-block;
}

.Pending__box__img img {
  width: 100%;
}

.Pending__box__buttons {
  display: flex;
  margin-top: 0.2em;
}

.Pending__box__buttons button{
  width: 50%;
  font-size: 0.4em;
  padding: 0.3em;
}

/***** FLOATING HEARTS ******/
html, body {
  height: 100%;
}

.wrapper {
  width: 100%;
  background: black;
  min-height: 100%;
  overflow: hidden;
  text-align: center;
}

.x1 {
  left: 5%;
  -webkit-transform: scale(0.9);
  -moz-transform: scale(0.9);
    transform: scale(0.9);
    opacity: 0.6;
    -webkit-animation: moveclouds 15s linear infinite, sideWays 4s ease-in-out infinite alternate;
    -moz-animation: moveclouds 15s linear infinite, sideWays 4s ease-in-out infinite alternate;
}

.x2 {
    left: 25%;
    -webkit-transform: scale(0.6);
    -moz-transform: scale(0.6);
    transform: scale(0.6);
    opacity: 0.9;
    -webkit-animation: moveclouds 25s linear infinite, sideWays 5s ease-in-out infinite alternate;
    -moz-animation: moveclouds 25s linear infinite, sideWays 5s ease-in-out infinite alternate;
}
.x3 {
    left: 55%;
    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    transform: scale(0.8);
    opacity: 0.8;
    -webkit-animation: moveclouds 20s linear infinite, sideWays 4s ease-in-out infinite alternate;
    -moz-animation: moveclouds 20s linear infinite, sideWays 4s ease-in-out infinite alternate;
}
.x4 {
    left: 72%;
    -webkit-transform: scale(0.75);
    -moz-transform: scale(0.75);
    transform: scale(0.75);
    opacity: 0.9;
    -webkit-animation: moveclouds 18s linear infinite, sideWays 2s ease-in-out infinite alternate;
    -moz-animation: moveclouds 18s linear infinite, sideWays 0zs ease-in-out infinite alternate;
}
.x5 {
    left: 88%;
    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    transform: scale(0.8);
    opacity: 0.3;
    -webkit-animation: moveclouds 7s linear infinite, sideWays 1s ease-in-out infinite alternate;
    -moz-animation: moveclouds 7s linear infinite, sideWays 1s ease-in-out infinite alternate;
}
.x6 {
    left: 33%;
    opacity: 1;
    -webkit-animation: moveclouds 2s linear infinite, swayWays 1s ease-in-out infinite alternate;
    animation: moveclouds 10s linear infinite, swayWays 9s ease-in-out infinite alternate;
}

@-webkit-keyframes moveclouds {
    0% {
        top: 500px;
    }
    100% {
        top: -500px;
    }
}

@keyframes moveclouds {
    0% {
        top: 500px;
    }
    100% {
        top: -500px;
    }
}

@-webkit-keyframes sideWays {
    0% {
        margin-left:0px;
    }
    100% {
        margin-left:50px;
    }
}

@keyframes sideWays {
  0% {
      margin-left:0px;
  }
  100% {
      margin-left:50px;
  }
}

@-keyframes swayWays {
  0% {
    transform: rotate(12deg);
    left:-0.3%;
  }
  33%{
    transform: rotate(-2deg);
    left: 0.7%;
  }
  100% {
    transform: rotate(0deg);
    left:-12%;
  }
}

/* //  HEART CODE */
.altheart {
  background: url(
http://static.indigoimages.ca/2016/shop/113439_img25_twotoneheart.png) no-repeat center;
  width: 24px;
  height: 21px;
  position: relative;
  display: block;
}

.heart {
    position: relative;
}
.heart:before,
.heart:after {
    position: absolute;
    content: "";
    left: 18px;
    top: 0;
    width: 18px;
    height: 30px;
    background: #CC2022;
    -moz-border-radius: 20px 50% 0 0;
    border-radius: 30px 30px 0 0;
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
    -webkit-transform-origin: 0 100%;
        -ms-transform-origin: 0 100%;
            transform-origin: 0 100%;
}
.heart:after {
    left: 0;
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    -webkit-transform-origin: 100% 100%;
        -ms-transform-origin: 100% 100%;
            transform-origin :100% 100%;
}
